<header class="d-flex justify-content-center py-3">
  <nav>
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/profile" class="nav-link link-primary" aria-current="page"
          *ngIf="islogged">Profile</a></li>
      <li class="nav-item"><a routerLink="/post" class="nav-link link-primary" *ngIf="islogged">Create post</a></li>
      <li class="nav-item"><a routerLink="/login" class="nav-link link-primary" *ngIf="!islogged">Login</a></li>
      <li class="nav-item"><a routerLink="/register" class="nav-link link-primary" *ngIf="!islogged">Sign-up</a></li>
      <li class="nav-item"><a class="nav-link link-primary pointer" *ngIf="islogged" (click)="logout()">Logout</a></li>
    </ul>
  </nav>
</header>